img {
    border-radius: 10rem !important;
}

button {
    margin-right: 10px;
}

.botones {
    margin-top: 61px;
    padding-left: 19px
}

.container {
    padding: 10px;;
}

.email {
    margin-top: 22px;
}