<div class="container-fluid animated fadeIn"> 
    <h1 class="text-center">{{'¿De qué trata?' | uppercase}}</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br>
                <div class="text-center">
                  <h5>Este proyecto trata de englobar un desarrollo de una aplicación web en el mundo real, contando con:</h5><br>
                  <div class="row">
                    <div class="col-4">
                      <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action active list-group-item-secondary" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="welcome">Benvenida</a>
                        <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="login">Login</a>
                        <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="autenticacion">Roles</a>
                        <a class="list-group-item list-group-item-action  list-group-item-secondary" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="autorizacion">Tokens</a>
                      </div>
                    </div>
                    <div class="col-8">
                      <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                 
                          <div class="card mb-3" style="max-width: 600px; height: 200px;">
                            <div class="row">
                              <div class="col-md-6">
                                <img src="https://cdn.lynda.com/course/648913/648913-637159311777648147-16x9.jpg" style=" height: 115%; width: 105%;" class="card-img" alt="...">
                              </div>
                              <div class="col-md-6">
                                <div class="card-body">
                                  <h5 class="card-title">Bienvenida</h5>
                                  <p class="card-text">Una página de bienvenida que sirve para que el usuario se sienta cómodo desde el instante que entra a la aplicación.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">

                            <div class="card mb-3" style="max-width: 600px; height: 200px;">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="https://cdn.lynda.com/course/360035/360035-637074619027572731-16x9.jpg" style=" height: 118%; width: 105%;" class="card-img" alt="...">
                                  </div>
                                  <div class="col-md-6">
                                    <div class="card-body">
                                      <h5 class="card-title">Login</h5>
                                      <p class="card-text"> Un sistema de login conectado a una cloud database, con autenticación y autorización.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                           

                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                            <div class="card mb-3" style="max-width: 600px; height: 200px;">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="https://cdn.lynda.com/course/622061/622061-637085565526967754-16x9.jpg" style=" height: 101%; width: 100%;" class="card-img" alt="...">
                                  </div>
                                  <div class="col-md-6">
                                    <div class="card-body">
                                      <h5 class="card-title">Roles</h5>
                                      <p class="card-text">  Por medio de la autenticación se nos permitirá manejar distintas vistas para distintos roles de usuarios. En este caso serán usuario y administrador..</p>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          
                        </div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                            <div class="card mb-3" style="max-width: 600px; height: 200px;">
                                <div class="row">
                                  <div class="col-md-6">
                                    <img src="https://cdn.lynda.com/static/landing/images/hero/PrepareForTheCiscoCertifiedNetworkAssociateCCNASecurityCertification_1200x630-1537979879452.jpg" style=" height: 133%; width: 100%;" class="card-img" alt="...">
                                  </div>
                                  <div class="col-md-6">
                                    <div class="card-body">
                                      <h5 class="card-title">Tokens</h5>
                                      <p class="card-text"> Por medio de la autorización se permitirá acceder a distintas páginas.</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              
                
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button"  class="btn btn-dark text-white btn-lg btn-block animated fadeInUp" (click)="back2begin()">Regresar</button>
        </div>
        <div class="col-md-4" > <br> </div>
    </div>
</div>