.form{
    width: 21rem;
    height: 17rem;
    margin: 10% 0% 0% 41%;
    border-radius: 10px;
}

.container {
    border: 1px solid blue;
}

.loginImg{
    padding-top: 35px;
}

.user {
    margin-bottom: 10px;
    margin-top: 12px;
}

@media (width: 360px){
    .form{
        margin: 0% 0% 0% 7%;
    }
}
@media (width: 411px){
    .form{
        margin: 0% 0% 0% 13%;
    }
}
@media (height: 823px){
    .form{
        margin: 24% 0% 0% 13%;
    }
}
.error{
    background-color: red;
    color: white;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.row{
    padding-left: 14px;
    padding-right: 14px;
}