
<div *ngIf="auth.user$ | async; then authenticated else random">

</div>

<ng-template #random>
  <section id="home" class="hero animated fadeInUp" *ngIf="!comenzar">
    <div class="container">
        <h1>¡Bienvenidos al proyecto de estadía!</h1>
        <button type="button" class="btn btn-primary btn-lg " (click)="begin()">Comenzar</button>
    </div>
</section>


<br>

</ng-template>

<ng-template #authenticated>
  <section id="home" class="hero animated fadeInUp" *ngIf="!comenzar">
    <div class="container">
        <h1>¡Bienvenidos al proyecto de estadía!</h1>
        <button type="button" class="btn btn-primary btn-lg " (click)="begin()" style="margin-top: 2%; margin-left: -1%; width: 27%;">Comenzar</button>
        <button type="button" class="btn btn-secondary btn-lg " (click)="Perfil()" style="margin-top: 2%; margin-left: -1%; width: 27%;">Perfil</button>
    </div>
</section>

<br>

</ng-template>


