div {
    background-color: #92CDED;
    min-height: 50vh;
    margin-top: -43px;
}
img{
    padding: 0% 24% 0% 24%;
}

h1 {
    padding-left: 9%;
    color: whitesmoke;
}

button{
    margin-left: 36%;
    margin-top: 5%;
    margin-right: 24%;
    width: 27%;
    background-color: #FBAE12;
}


