div {
    // background-color: #92CDED;
    min-height: 50vh;
    margin-top: -43px;
}
img{
    padding: 3% 43% 3% 45%;
    height: 238px;
}

h1 {
    padding-left: 9%;
}

button{
    margin-left: 38%;
    margin-top: 5%;
    margin-right: 24%;
    width: 27%;
    background-color: #FBAE12;
}


